body {
    font-family: Arial, sans-serif;
}

#tablaPrincipal{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tablaPrincipal td{
    vertical-align: top;
}

#tablaAsientosAB, #tablaAsientosCDEFG, #tablaAsientosHJ {
    border-collapse: collapse;
}

#tablaAsientosAB td, #tablaAsientosCDEFG td, #tablaAsientosHJ td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

#tablaAsientosAB td.disponible, #tablaAsientosCDEFG td.disponible, #tablaAsientosHJ td.disponible {
    background-color: #a3e4d7;
}

#tablaAsientosAB td.no-disponible, #tablaAsientosCDEFG td.no-disponible, #tablaAsientosHJ td.no-disponible {
    background-color: #f1948a;
    cursor: not-allowed;
}

#pasajerosRegistrados {
    margin-top: 20px;
}

#pasajerosRegistrados ul {
    list-style-type: none;
    padding: 0;
}
